<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <style>
        .progress {
            width: 80%;
            text-align: center;
            margin: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      /* function startSocket() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test_web';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
           // var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
           var socket = io.connect('http://localhost:5000/test_web',{'force new connection':true})
            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('web_event', {data: 'I\'m connected from the web!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('web_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

            $('form#emit2local').submit(function(event) {
                socket.emit('web_to_local_event', {data: $('#emit2local_data').val()});
                return false;
            });
            $('form#emit').submit(function(event) {
                socket.emit('web_event', {data: $('#emit_data').val()});
                return false;
            });
            $('form#join').submit(function(event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false;
            });
            $('form#leave').submit(function(event) {
                socket.emit('leave', {room: $('#leave_room').val()});
                return false;
            });
            $('form#send_room').submit(function(event) {
                socket.emit('my_room_event', {room: $('#room_name').val(), data: $('#room_data').val()});
                return false;
            });
            $('form#close').submit(function(event) {
                socket.emit('close_room', {room: $('#close_room').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_web_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_web_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways

        }; //end of namespace*/
        function Echo2Local() {
            $.ajax({
                type: 'POST',
                url: '/web2local',
                data: JSON.stringify({'message': $('#emit2local_data').val()}),
                contentType: 'application/json',
                error: function (request, status, error) {
                    console.log(arguments);
                    alert(" Can't do because: " + error);
                    alert(status);
                },
                success: function (response) {
                    console.log(response['result']);
                }
            });

        };
        function loginUser() {
          // alert($('#http-user-set').val());
            $.ajax({
                type: 'POST',
                url: '/session',
                data: JSON.stringify({user: $('#http-user-set').val()}),
                contentType: 'application/json',
                error: function (request, error) {
                    console.log(arguments);
                    alert(" Can't do because: " + error);
                },
                success: function (response) {
                    $('#http-user').text(response['user']);
                    $('#http-session').text(response['sessionid']);
                }
            });
        };
        function logoutUser(){
            $.ajax({
                type: 'POST',
                url: '/session',
                data: JSON.stringify({user: null}),
                contentType: 'application/json',
                error: function (request, error) {
                    console.log(arguments);
                    alert(" Can't do because: " + error);
                },
                success: function(response) {
                    $('#http-user').text(response['user']);
                    $('#http-session').text(response['sessionid']);
                }
            });
        };
        /*function sendLongTask(){
            $.ajax({
                type: 'POST',
                url: '/longtask',
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    //update_progress(status_url, nanobar, div[0]);
                    alert(status_url);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        };*/
</script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <div><h3>User</h3></div>
    <div>
        <p>Current session: <b><span id="http-session"></span></b></p>
        <p>
        <p>Current user: <b><span id="http-user"></span></b></p>
        <p>
            <input type=text id='http-user-set' value="abc">
            <button type="button" onclick="loginUser()" id="login-http">Login</button>
            <button type="button" onclick="logoutUser()" id="logout-http">Logout</button>
        </p>
    </div>
    <!--<button id="startSocket" onclick="startSocket()"> Connect to socket</button>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <h2>Send:</h2>
    <form id="emit2local" method="POST" action="Echo2Local()">-->
        <input type="text" name="emit2local_data" id="emit2local_data" placeholder="Message">
        <input type="submit" onclick="Echo2Local()" value="Echo Local">
        <br />
        <input type="submit" onclick="sendLongTask()" value="Send Long Task">
    <!--</form>
        <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="join" method="POST" action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <input type="submit" value="Join Room">
    </form>
    <form id="leave" method="POST" action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <input type="submit" value="Leave Room">
    </form>
    <form id="send_room" method="POST" action='#'>
        <input type="text" name="room_name" id="room_name" placeholder="Room Name">
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>
    <form id="close" method="POST" action="#">
        <input type="text" name="close_room" id="close_room" placeholder="Room Name">
        <input type="submit" value="Close Room">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>-->
    <br>
    <button id="start-bg-job">Start Long Calculation</button><br><br>
    <div id="container"></div>
    <h2>Receive:</h2>
    <div id="log"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        function start_long_task() {
            // add task status elements
            progress_div = $('<div class="progress"><div class="progress-bar progress-bar-striped active"></div></div>');
            data_div = $('<div class="progress_status"><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#container').append(progress_div);
            $('#container').append(data_div);

            // create a progress bar
           /* var nanobar = new Nanobar({
               bg: '#44f',
               target: div[0].childNodes[0]
            });*/

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/longtask',
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    //update_progress(status_url, nanobar, div[0]);
                    update_progress(status_url, data_div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                //console.log(data);
                percent = parseInt(data['current'] * 100 / data['total']);
                //nanobar.go(percent);
                $(".progress-bar").css("width", percent + "%").text(percent + " %");
                $(status_div.childNodes[0]).text(data['current']);
                $(status_div.childNodes[1]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[2]).text('Result: ' + data['result']);
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[2]).text('Result: ' + data['state']);
                    }
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, status_div);
                    }, 1000);
                }
            });
        }
        $(function() {
            $('#start-bg-job').click(start_long_task);
        });
    </script>
</body>
</html>
